---
- name: "Clickhouse : install dependencies"
  ansible.builtin.dnf:
    state: present
    name:
      - curl
      - gnupg
      - yum-utils

- name: "Clickhouse : add repository"
  block:
    - name: "Add repository : set GPG key"
      ansible.builtin.rpm_key:
        state: present
        key: https://packages.clickhouse.com/rpm/stable/repodata/repomd.xml.key
    - name: "Add repository : set repository"
      ansible.builtin.yum_repository:
        name: clickhouse
        description: Clickhouse repository
        enabled: yes
        gpgcheck: yes
        baseurl: https://packages.clickhouse.com/rpm/stable/
        gpgkey: https://packages.clickhouse.com/rpm/stable/repodata/repomd.xml.key

- name: "Clickhouse : install packages"
  ansible.builtin.dnf:
    disable_gpg_check: yes
    update_cache: yes
    state: present
    name:
      - clickhouse-server
      - clickhouse-client

- name: "Clickhouse : create config directory"
  file:
    path: "/etc/clickhouse-server/config.d"
    state: directory
    owner: clickhouse
    group: clickhouse
    mode: "0755"

- name: "Clickhouse : configure"
  ansible.builtin.template:
    src: cors.xml.j2
    dest: /etc/clickhouse-server/config.d/cors.xml
    owner: clickhouse
    group: clickhouse
    mode: "0644"

- name: "Clickhouse : start systemd service"
  ansible.builtin.systemd:
    name: clickhouse-server
    state: started
    enabled: yes
    daemon_reload: yes

- name: "Clickhouse : verify systemd service"
  ansible.builtin.wait_for:
    host: "{{ ansible_host }}"
    state: started
    port: 8123
    delay: 10
    timeout: 60

- name: "Clickhouse : prepare database"
  shell: |
    clickhouse-client --query="CREATE DATABASE IF NOT EXISTS {{ clickhouse_db_name }}"
    clickhouse-client --query="CREATE TABLE IF NOT EXISTS {{ clickhouse_db_name }}.{{ clickhouse_db_table }} (
      timestamp DateTime,
      message String,
      host String,
      source String
    ) ENGINE = MergeTree()
    PARTITION BY toYYYYMM(timestamp)
    ORDER BY (timestamp, host)"
  register: db_creation
  failed_when: db_creation.rc != 0 and "already exists" not in db_creation.stderr
  changed_when: db_creation.rc == 0

- name: "Clickhouse : get version"
  shell: clickhouse-client --query="SELECT version()"
  register: clickhouse_version

- name: "Clickhouse : display version"
  debug:
    msg: "ClickHouse version: {{ clickhouse_version.stdout }}"
