---
- name: "Dependencies"
  block:
    - name: "Dependencies : Rocky"
      when: ansible_facts['distribution'] == "Rocky"

      ansible.builtin.dnf:
        update_cache: yes
        state: present
        name:
          - yum-utils
          - python3-pip
    - name: "Dependencies : Ubuntu"
      when: ansible_facts['distribution'] == "Ubuntu"

      ansible.builtin.apt:
        update_cache: yes
        state: present
        name:
          - curl
          - gnupg
          - python3-pip
          - ca-certificates
          - apt-transport-https

- name: "Clickhouse driver"
  when: ansible_python is defined

  ansible.builtin.pip:
    name: clickhouse-driver
    state: present

- name: "Repositories"
  block:
    - name: "Repositories : Rocky"
      when: ansible_facts['distribution'] == "Rocky"

      block:
        - name: "Repositories : Rocky : get repository"
          ansible.builtin.yum_repository:
            name: clickhouse
            description: clickhouse repository
            enabled: yes
            baseurl: "{{ rocky_repo }}"
            gpgkey: "{{ rocky_repo_key }}"

    - name: "Repositories : Ubuntu"
      when: ansible_facts['distribution'] == "Ubuntu"

      block:
        - name: "Repositories : Ubuntu : get GPG"
          ansible.builtin.apt_key:
            url: "{{ ubuntu_repo_key }}"
            state: present
        - name: "Repositories : Ubuntu : get repository"
          ansible.builtin.apt_repository:
            repo: "deb {{ ubuntu_repo }} stable main"
            state: present
            filename: clickhouse

- name: "Packages"
  block:
    - name: "Packages : Rocky"
      when: ansible_facts['distribution'] == "Rocky"

      ansible.builtin.dnf:
        disable_gpg_check: yes
        update_cache: yes
        state: present
        name:
          - clickhouse-server
          - clickhouse-client

    - name: "Packages : Ubuntu"
      when: ansible_facts['distribution'] == "Ubuntu"

      ansible.builtin.apt:
        update_cache: yes
        state: present
        name:
          - clickhouse-server
          - clickhouse-client

- name: "Create configuration file : All"

  ansible.builtin.template:
    dest: /etc/clickhouse-server/config.d/cors.xml
    owner: clickhouse
    group: clickhouse
    src: cors.xml.j2
    mode: "0644"

- name: "Enable systemd service : All"

  ansible.builtin.systemd:
    name: clickhouse-server
    enabled: yes
    state: started
    daemon_reload: yes

- name: "Check systemd service : All"

  ansible.builtin.wait_for:
    host: "{{ ansible_host }}"
    state: started
    port: 8123

- name: "Create clickhouse database : All"

  community.clickhouse.clickhouse_db:
    login_host: "localhost"
    login_port: 9000

    login_user: "default"
    login_password: ""

    state: present
    name: "{{ clickhouse_database }}"

- name: "Create clickhouse table : All"
  register: table_result
  changed_when: false # идемпотентно т.к. CREATE TABLE IF NOT EXISTS

  community.clickhouse.clickhouse_client:
    login_host: "localhost"
    login_port: 9000

    login_user: "default"
    login_password: ""

    execute: |
      CREATE TABLE IF NOT EXISTS {{ clickhouse_database }}.{{ clickhouse_table }} (
        timestamp DateTime,
        message String,
        host String,
        source String
      ) ENGINE = MergeTree()
      PARTITION BY toYYYYMM(timestamp)
      ORDER BY (timestamp, host)
